@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  @apply text-2xl font-bold;
}

.btn-default{

  @apply px-4 py-2 rounded-md mt-5 cursor-pointer
}

.btn-blue{
  @apply bg-blue-500 text-white
}

@media print {
  @page {
    size: auto; /* Puedes ajustar el tamaño de la página según tus necesidades */
    margin: 0; /* Elimina los márgenes predeterminados del navegador */
  }
  body {
    margin: 1cm; /* Puedes ajustar el margen del contenido según tus necesidades */
  }
}

.animate-star {
  transition: transform 0.6s ease-in-out; /* Smooth transformation */
}
.animate-star:hover,
.animate-star:focus {
  transform: scale(1.1); /* Scale up on hover/focus */
}
